@import 'src/styles.color.scss';

.menu {
    cursor: pointer;
}

.menu_item_button {
    padding: 15px 0px;
    
}

.menu_item_button:hover {
    background: rgba(98, 0, 238, 0.08);
}

.menu_item_label {
    margin: 0px 25px; 
    color: white;
    font-size: 16px;
}

.menu_item_icon {
    vertical-align: middle;
    font-size: 25px !important;
    margin-right: 20px;
    margin-bottom: 6px;
}