<div class="section_home">
    <div class="header_home">
        <h2>Bienvenido a Choristar 
            <span class="home_user_name">Eisten Flores Sanchez</span>
        </h2>
        <div class="home_subtitle">Te recordamos tus acciones realizadas</div>
    </div>
</div>
<div class="body_home">
    <div class="section_servicio" routerLink="/services">
        <div class="header_info">
            Servicios
        </div>
        <div class="icon_info"><mat-icon style="font-size: 70px !important;">desktop_windows</mat-icon></div>
        <div class="cantidad_info">3</div>
    </div>
    <div class="section_reclamaciones" routerLink="/claims">
        <div class="header_info">
            Reclamaciones
        </div>
        <div>
            <div class="icon_info"><mat-icon style="font-size: 70px !important;">question_answer</mat-icon></div>
            <div class="cantidad_info">2</div>
        </div>
    </div>
    <div class="section_solicitudes" routerLink="/requests">
        <div class="header_info">
            Solicitudes
        </div>
        <div>
            <div class="icon_info"><mat-icon style="font-size: 70px !important;">touch_app</mat-icon></div>
            <div class="cantidad_info">2</div>
        </div>
    </div>
</div>