@import 'src/styles.color.scss';
.section_home {
    margin: 15px;
}

.header_home {
    margin-top: 25px;
}

.home_user_name {
    color: $color_primary-02;
}

.home_subtitle {
    margin-top: 20px;
}
.body_home {
    margin-top: 20px;
    color: white;
}

.section_servicio {
    background: $color_secondary-01;
    margin: 15px;
    border-radius: 5px;
    cursor: pointer;
    padding: 20px;
}

.section_servicio:hover {
    background-color: #08cacdc7;
}
.section_reclamaciones:hover {
    background-color: #096f95e0;
}
.section_solicitudes:hover {
    background-color: #3b9722de;
}

.section_reclamaciones {
    background: $color_primary-01;
    margin: 15px;
    border-radius: 5px;
    cursor: pointer;
    padding: 20px;
}

.section_solicitudes {
    background: $color_primary-02;
    margin: 15px;
    border-radius: 5px;
    cursor: pointer;
    padding: 20px;
}

.header_info {
    font-size: 28px;
}

.icon_info {
    text-align: left;
    font-weight: 800;
}

.cantidad_info {
    font-weight: 800;
    font-size: 45px;
    text-align: right;
}
