@import './styles.color.scss';
@import './styles.font.scss';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

* {margin: 0;padding: 0;box-sizing: border-box;font-family: 'Amelia-Basic', sans-serif;}

html {font-size: 16px;}
